# SOL Subscription Environment

# Solana configuration
SOLANA_RPC_URL=https://api.devnet.solana.com
PROGRAM_ID=AKMoTiFexNvW3efoiwDcemdraDrnhzfBqTeTL21fVRB9
CHALLENGE_ID=1

# Owner wallet 
SOLANA_OWNER_SECRET_KEY=

# Treasury wallet 
TREASURY_PUBKEY=

# Test configuration
TEST_FEE=100000000   # 0.1 SOL in lamports
TEST_COMMISSION=10   # 10% commission

# Backend
# Backend URL
MAIN_BACKEND_URL=
