# SOL Subscription Environment

# Solana configuration
SOLANA_RPC_URL=https://api.devnet.solana.com
PROGRAM_ID=


# Owner wallet 
SOLANA_OWNER_SECRET_KEY=

# Treasury wallet 
TREASURY_PUBKEY=

# Server
HOST=0.0.0.0
PORT=3001
